<header class="header-content">
    <div class="tittle-header">
            <img src="./assets/images/logo-left.png" class="logo-header-left" alt="logo header">
            <img src="./assets/images/logo-right.png" class="logo-header-right" alt="logo header">
            <a href="../../index.html#home"><h1>Front-Walkers</h1></a>
    </div>
    <nav class="first-navigation">
        <ul>
            <li><a href="../../index.html#equipo">Equipo</a></li>
            <li><a href="../../index.html#quienes-somos">Quienes somos</a></li>
            <li><a href="./contact.html">Contacto</a></li>
        </ul>
    </nav>
</header>