.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 0;
    border: 1px solid #b8b8b9;
    box-sizing: border-box;
    justify-content: center;

    .hero {
        height: 421px;
        background: url(../images/hero-image-mobile.jpg) center bottom no-repeat;
        background-size: cover;
        z-index: -2;
    
        .claim {
            width: 290px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: flex-end;

            .hero-title {
                width: 260px;
                height: 50px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 14px;
                padding-bottom: 16px;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 1.39;
                color: #000000;
                display: inline-block;
                background-color: white;
                transform: translateY(50%);
                flex-grow: 1;}
        }
    }

/*--------------------HEADER-------------------*/    

    .header-content {
        width: 100%;
        position: fixed;
        top: -15px;
        justify-content: center;
        z-index: 2;

        .tittle-header {
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            background-color:#099d8d;
            opacity: 0.95;
            text-align: center;

            h1 {
                height: 30px;
                padding-top: 15px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Rubik', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.88;
                text-transform: uppercase;
                color: #ffffff;}
        }

        .first-navigation {
            height: 45px;
            background-color: #14d9c4;
            opacity: 0.95;
            text-align: center;
            display: flex;
            justify-content: space-evenly;

            a {
                height: 30px;
                padding-top: 8px;
                padding-bottom: 7px;
                font-family: 'Rubik', sans-serif;
                font-size: 15px;
                font-weight: 500;
                line-height: 2;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration:none;
                display: inline-block;
                vertical-align: center;}
        }
    }

/*------------------------------EQUIPO----------------------------------------*/

    .main-content {
        padding-top: 0;
        margin-top: 0;
        display: block;

        .about-us {
            width: 90.6%;
            margin: auto;
            margin-top: 46px;
            background-color: white;
            justify-content: center;
            z-index: 0;

            .title {
                padding-top: 30px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 0;
                margin-bottom: 15px;
                font-family: 'Rubik', sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 45px;
                color: #14d9c4;
                text-align: center;
                display: block;}

            .team {
                width: 100%;
                
                p {
                    padding-top: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    color: #54585a;
                    text-align: center;

                    &:last-child {
                        margin-bottom: 2px;}
                }
            }
        }

        .square {
            height: 30px;
            width: 30px;
            margin-left:auto;
            margin-right: auto;
            background-color: white;
            position: relative;
            top: 14.2px;
            transform: rotate(45deg);}

/*--------------------FORTALEZAS Y DEBILIDADES-------------------------------*/

        .second-section {
            padding-bottom: 45px;
            background-color: rgba(184, 184, 185, 0.2);
            display: block;

            .second {
                width: 90%;
                margin-top: 2px;
                margin-left: auto;
                margin-right: auto;

                p { 
                    margin-top: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    font-weight: normal;
                    color: #54585a;
                    text-align: center;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .strengths {
                    height: 45px;
                    padding-top: 30px;
                    margin-top: 0;
                    margin-bottom: 0;
                    opacity: 100%;
                    font-size: 22px;
                    font-family: 'Rubik';
                    font-weight: 500;
                    line-height: 2.05;
                    color: #099d8d;
                    text-align: center;
                    text-transform: none;}

                .weaknesses {
                    height: 45px;
                    padding-top: 30px;
                    margin-top: 0;
                    margin-bottom: 0;
                    opacity: 100%;
                    font-family: 'Rubik';
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 2.05;
                    color: #099d8d;
                    text-align: center;
                    text-transform: none;}
            }
        }

/*-----------------------------INTEGRANTES----------------------------*/

        .persons {
            width: 100%;
            margin-top: 30px;
            padding-bottom: 45px;}

            h2{
                margin-bottom: 0%;
                font-family: 'Rubik', sans-serif;
                font-size: 24px;
                line-height: 45px;
                font-weight: 500;
                text-transform: uppercase;
                color: #099d8d;
                text-align: center;}
            
            article {
                width: 90.6%;
                margin-left: auto;
                margin-right: auto;

                .name{
                    margin-top: 10px;
                    margin-bottom: 0%;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 2.25;
                    color: #000000;
                    text-align: center;}

                .description {
                    padding-bottom: 15px;
                    margin-top: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.5;
                    color: #54585a;
                    text-align: center;}

                .photo {
                    height: 170px;
                    width: 170px;
                    margin-top: 40px;
                    margin-left: auto;
                    margin-right: auto;
                    border: 5px solid rgba(0, 0, 0, 0.08);
                    border-radius: 10px;
                    text-align: center;
                    display: block;

                    &.first-photo {
                        margin-top: 25px;}
                }

                .social {
                    width: 124px;
                    height: 30px;
                    margin-left: auto;
                    margin-right: auto;
                    color: #54585a;
                    display: flex;
                    justify-content: space-between;

                    .fab {
                        width: 16px;
                        height: 16px;
                        color: #099d8d;}

                    .fas {
                        color: #099d8d;}

                    .point {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        color: #54585a;}
                }

            }
        }

/*--------------------------------FOOTER--------------------------------------*/

    .footer-content {
        width: 100%;
        background-color: white;
        border-top: 1px solid #b8b8b9;
        text-align: center;

        .copyright {
            height: 20px;
            padding-top: 30px;
            padding-bottom: 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 1.43;
            color:#b8b8b9;
            text-align: center;
            display: inline-block;}

        .footer-navigation {
            padding-bottom: 30px;
            margin: auto;
            opacity: 0.75;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.43;
            color: #54585a;
            text-align: center;
            display: flex;
            flex-direction: column;
            }

            a {
                color: #54585a;
                opacity: 0.75;

            &:hover {
                    color:#14d9c4;
                    opacity: 0.75;}
            }

        .logo {
            width: 115.9px;
            height: 45px;
            padding-bottom: 45px;}
    }


/*-------------------------------TABLET-----------------------------------*/

@media all and (min-width:768px) {
    
    header {
        display: flex;
        justify-content: flex-start;}

    .tittle-header {
        width: 50vw;
        padding-left: 45px;
        margin-right: 0;
        margin-bottom: 15px;
        margin:0;
        text-align: left;}

    .first-navigation {
        width: 50vw;
        height: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right:45px;
        margin-top:0;
        background-color:#099d8d;
        opacity: 0.95;
        text-align: right;
        justify-content: flex-end;}

    .claim .hero-title {
        display: inline-block;
        transform: translateY(0);}

    .tittle-header h1 {
        padding-top: 13px;}

    .hero {
        height: 421px;
        background: url(../images/hero-image-tablet-web.jpg) center bottom no-repeat;
        background-size: cover;}

    .hero-title {
        width: 381px;
        padding-left: 30px;
        padding-right: 30px;}

    .hero .claim {
        width: 441px;
        margin-left: 45px;
        margin-right: 0;
        opacity: 0.8;}

    .first-navigation a {
        margin-left:18px;
        display: inline-block;}

/*--------------------------------EQUIPO-------------------------------------*/

    .about-us {
        margin-bottom: 45px;
        margin-top: 45px;}

    .title {
        padding-top: 0;
        margin-top:0;
        margin-bottom:0;}

    .team {
        opacity: 0.67;}
        
/*------------------------FORTALEZAS Y DEBILIDADES--------------------------*/

    .second-section {
        padding-right: 45px;
        padding-left: 45px;
        padding-bottom: 60px;
        display: flex;}

    .second.strengths-block {
        width: 50%;
        margin-right: 30px;}

    .second.weaknesses-block {
        width: 50%;}

    .strengths {
        padding-top: 0;
        padding-bottom: 15px;
        margin-top: 45px;}

    .weaknesses {
        padding-top: 0;
        padding-bottom: 15px;
        margin-top: 45px;}

    .second p {
        width: 100%;}

    .strengths_p {
        width: 100%;
        padding-right: 0;
        margin: 0;}

    .weaknesses_p {
        width: 100%;}

/*------------------------------INTEGRANTES--------------------------*/

    .persons {
        width: 88.41%;
        padding-bottom: 0;
        margin-left: auto;
        margin-right: auto;}

    .persons h2{
        margin-top: 45px;
        margin-bottom: 36px;}

    .persons h3 {
        margin-top: 0;}

    .presentation{
        margin-bottom: 55px;
        display: flex;
        align-self: baseline;}

    .presentation.left{
        display: flex;
        flex-direction: row;}

    .presentation.left .description{
        margin-left: 30px;
        text-align: left;}

    .presentation.left .name{
        text-align: left;
        margin-left: 30px;}

    .presentation.right{
        display: flex;
        flex-direction: row-reverse;}

    .social.no-reverse{
        margin-left: 30px;}

    .presentation.right .name{
        margin-right: 30px;
        text-align: right;}

    .presentation.right .description{
        margin-right: 30px;
        text-align: right;}

    .social.reverse{
        margin-right: 30px;}

    .photo{
        width: 195px;
        height: 195px;
        margin-top: 0;}

    .photo.first-photo{
        margin-top: 0;}

/*-----------------------------------FOOTER---------------------------------*/

    .footer-content {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;}

    .copyright {
        width: 20%;
        padding-top: 30px;
        margin-left: 45px;
        order: 1;}

    .logo {
        padding-bottom: 60px;
        margin-left: 45px;
        position: absolute;
        top: 65px;
        text-align: start;}
        
    .footer-navigation {
        width: 20%;
        padding-top: 30px;
        margin-right: 45px;
        line-height: 2.14;
        text-align: end;
        order: 2;}
    
}

@media all and (min-width:1200px) {
        
    .first-navigation {
        padding-right:138px;}

    .tittle-header {
        padding-left: 142px;}
    
    .hero .claim {
        width: 574px;
        margin-left: 142px; }

    .hero {
        height: 550px;}

    .claim .hero-title {
        height: 60px;
        font-size: 24px;
        line-height: 1.25;}

/*-------------------------------EQUIPO-----------------------------*/

    .about-us {
        width: 100%;
        margin-top: 45px;}

    .title {
        margin-top:0;
        margin-bottom:0;
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        color: #099d8d;
        font-weight: 500;
        line-height: 45px;}
        
    .team  {
        max-width: 50%;
        margin: 0 auto;
        display:inline-block;
        display:flex;
        flex-direction: column;}

/*------------------------FORTALEZAS Y DEBILIDADES---------------------------*/

    .second-section {
        padding-left: 138px;
        padding-right: 138px;
        padding-bottom: 60px;
        display: flex;}

    .second.strengths-block {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 45px;}

    .second.weaknesses-block {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;}

    .strengths {
    margin-right: 19.1px;}

    .weaknesses {
        width: 439px;}

    .strengths_p {
        width: 439px;}

    .weaknesses_p{
        width: 439px; }

/*-------------------------------INTEGRANTES-----------------------------*/

    .persons {
        width: 79%;
        margin-left: auto;
        margin-right: auto;}
    
    .photo{
        width: 268px;
        height: 268px;}

    .presentation.left {
        padding-right: 138px;}

    .presentation.right {
        padding-left: 138px;}

/*----------------------------------FOOTER--------------------------------*/
    .logo {
        padding-bottom: 51px;
        margin-left: 138px;}

    .footer-navigation {
        width: 50%;
        margin-right: 138px;
        padding-top: 30px;
        line-height: 2.14;
        order: 2;
        text-align: end;}

    .copyright {
        width: 20%;
        margin-left: 138px;
        padding-top: 30px; 
        order: 1;
        text-align: start;}
}
}