@keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
@keyframes text-shadow {
    0% {
        text-shadow: 0 0 black }
       
    100% { 
        text-shadow: 20px 20px 10px rgba(0, 0, 0,.5); } 
    }

@keyframes pawAnimation {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.1;
    }
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.header-content {
    width: 100%;
    position: fixed;
    top: -15px;
    justify-content: center;
    z-index: 2;
    animation: moveInTop .7s ease-out 0.5s;
    animation-fill-mode: backwards;
    box-sizing: border-box;
    
    @include tablet {
            display: flex;
            justify-content: flex-start;}
    .tittle-header {
        height: 60px;
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color:#099d8d;
        opacity: 0.95;
        text-align: center;
        display: flex;
        justify-content: center;
        @include tablet {
            width: 50vw;
            padding-left: 45px;
            margin:0;
            text-align: left;
            justify-content: flex-start;}
        @include desktop {
            padding-left: 142px;}
        .logo-header-left {
            opacity: 1;
            height: 30px;
            padding-top: 5px;
            width: 12px;
            margin-top: 7.5px;
            animation: 1700ms pawAnimation ease-in-out 1s;
            animation-fill-mode: backwards;
            animation-iteration-count: 3;}
        .logo-header-right {
            opacity: 0.7;
            height: 30px;
            padding-top: 5px;
            width: 12px;
            margin-left: 3px;
            margin-top: 3px;
            animation: 1700ms pawAnimation ease-in-out 1.8s;
            animation-fill-mode: backwards;
            animation-iteration-count: 3;}
        h1 {
            height: 30px;
            margin-top: 8px;
            margin-bottom: 0;
            margin-left: 7px;
            margin-right: auto;
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.88;
            text-transform: uppercase;
            color: #ffffff;
        
            @include tablet {
                padding-top: 9px;
                margin-top: 0;}
        }
    }
    .first-navigation {
        height: 45px;
        background-color: #14d9c4;
        opacity: 0.95;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        @include tablet {
            width: 50vw;
            height: 60px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right:45px;
            margin-top:0;
            background-color:#099d8d;
            opacity: 0.95;
            text-align: right;
            justify-content: flex-end;}
        
        @include desktop {
            padding-right:138px;}
        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            @include tablet {
                max-width: 338px;}
            }
        a {
            height: 30px;
            padding-top: 8px;
            padding-bottom: 0;
            margin-left: 0;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 500;
            line-height: 2;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration:none;
            display: inline-block;
            vertical-align: center;
            &:hover {
                animation-name: text-shadow;
                animation-delay: ease-out 0.6s;
                animation-duration: 0.8s;
            }
            
            @include tablet {
                margin-left:18px;
                display: inline-block;}
        }
    }
  }